@(form: Form[LoginDetails])(implicit messagesProvider: MessagesProvider)

@main("Login") {

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="store">Store</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div>
        <h2> Please log in below: </h2>
    </div>

    <div>
        <h2>
        @helper.form(routes.LoginController.loginSubmit()){
            @helper.inputText(form("username"), '_label -> "Username", '_showConstraints -> false)
            @helper.inputPassword(form("password"), '_label -> "Password", '_showConstraints -> false)
            <button type="submit">Log In</button>
        }
        </h2>
    </div>

}